.poster-card {
    min-height: 600px;
    height: 1000px;
    margin-bottom: 30px;
}

.poster-button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
}

.card-body {
    border-bottom: 0;
}

.navbar-right {
    float: right;
    margin: 0 auto
}

.buttonBag {
    margin: 0 auto;
}

.previousButton {
    float: left;
}

.nextButton {
    float: right;
}